
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Pacifico&display=swap');
.downloaderPart {
  /* position: relative; */
  border: 10px solid black !important;
  border-radius: 10px;
}
.headerScanme > img {
  height: 160px;
}
.headerScanme {
  display: flex;
  justify-content: center;
  position: relative;
}

.subHeaderScanMe {
  font-family: "Pacifico", cursive;
  color: #ffbb00;
  font-size: 20px;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 20px;
  font-weight: 700;
}

/* QR CSS======================== */
:root {
  --color: black;
}

.QRCodeImage {
  appearance: none;
  border: none;
  background: none;
  font-size: 40px;
  height: 250px;
  width: 250px;
  font-weight: bold;
  color: var(--color);
  padding: 10px 10px;
  position: relative;
  /* width: min-content; */
}

.QRCodeImage::before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;  
  width: 60px;
  height: 60px;
  border-top: 4px solid var(--color);
  border-left: 4px solid var(--color);
  transition: width .3s, height .3s;
}

.QRCodeImage::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  right: -2px;  
  width: 60px;
  height: 60px;
  border-bottom: 4px solid var(--color);
  border-right: 4px solid var(--color);
  transition: width .3s, height .3s;
}

.QRCodeImage:hover::before,
.QRCodeImage:hover::after {
  width: 100%;
  height: 100%;
}

/* ******************************* */

.QrContainer {
  display: flex;
  justify-content: center;
  margin: 10% 0;
}

.QRCodeImage>img {
  height: 230px;
}

.instructionCOntainer {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
}

.instructionText {
  background-color: #ffbb00;
  padding: 10px;
  color: white;
  border-radius: 10px;
  position: relative;
}

.arrowPoineter {
  /* border: 50px solid #ffbb00; */
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #ffbb00;
  position: absolute;
  left: 45%;
  top: -20px
  /* border-radius: 50% 50% 0 0; */
}

.usernameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: black;
  padding: 10px 0;
}

.usernameText {
  border-bottom: 2px solid #000000;
}

.bottomScanMeContainer {
  display: flex;
  height: 180px;
  /* border: 2px solid #000000; */
  background-color: #000000a2;
  background-color: #2d3436;
background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

.leftLogoContainer {
  width: 30%;
  height: 100%;
  border-right: 5px solid #ffffff75;
  
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}

.rightPartScanMecontainer {
  /* border: 2px solid blue; */
  display: flex;
  width: 70%;
  flex-direction: column;
}

.connection {
  height: 30%;
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0 20px;
}

.hrDividerContainer {
  margin: 2px 0;
}

.connectionDivider {
  width: 80%;
  border: none;
  margin: auto;
  height: 1px;
  background-color: #fbfbfb9c;
}

.connectionIcon {
  height: 30px;
}

.connectionUsernameContainer {
  color: white;
}

.glassdorIcon {
  /* filter: invert(100) */
}

.hotelImageOnQr {
  /* filter: invert(100); */
}