@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

.hotelsInputs {
  caret-color: red;
}

/* body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #ecf0f3;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  font-family: poppins;
} */

.hotelRegisterContainer {
  position: relative;
  width: 100%;
  height: max-content;
  height: 100%;
  overflow: auto;
  border-radius: 20px;
  padding: 0 40px;
  box-sizing: border-box;
  /* margin: 30px 0 0 0; */
  /* background: ; */
  /* box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white; */
}

.brand-logo {
  height: 70px;
  width: 90px;
  /* padding: 20px; */
  /* position: absolute;
  top: -50px;
  left: 30%; */
  /* background-color: #ecf0f3; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* background: url(../../Images/surveySphere.png); */
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  /* box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white; */
}

.brand-title {
  margin-top: 40px;
  font-weight: 900;
  font-size: 1.8rem;
  color: #338ded;
  text-align: center;
  letter-spacing: 1px;
}

.hotelsInputs {
  text-align: left;
  margin-top: 30px;
}

.hotelFormLabel, .hotelFormInputs, .hotelFormButton {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.hotelFormLabel {
  margin-bottom: 4px;
}

.hotelFormLabel:nth-of-type(2) {
  margin-top: 12px;
}

.hotelFormInputs::placeholder {
  color: gray;
}

.hotelFormInputs {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.hotelFormButton {
  color: white;
  margin-top: 20px;
  background: #338ded;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  /* box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white; */
  transition: 0.5s;
}

.hotelFormButton:hover {
  box-shadow: none;
}

.addBuisnessDialog>div>div {
  width: 50vw;
  /* border-radius: 0; */
}
.formContainerHotel {
  width: 100%;
  /* border: 2px solid red !important; */
}

.formTextField {
  width: 100% !important;
}
@media only screen and (max-width:830px) {
  .addBuisnessDialog>div>div {
    width: 90vw !important;
    /* border-radius: 0; */
  }

}