
.hotelListTableHead {
  border-bottom: 1px solid rgba(128, 128, 128, 0.171);
}

.tableHeaderTexts {
  font-size: 12px;
  font-weight: 700;
  color: #a8aabc;
}

.hotlesTableCells {
  color: #3c4767;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 2px solid #80808027;
}
.evenRowHotel {
  background-color: rgba(0, 0, 0, 0.033);
}

.tableHeaderTexts,
.hotlesTableCells {
  padding: 20 20px !important;
}
.hotelListLabelHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addBuisnessButton {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 10px;
  background-color: white !important;
}

.addBuisnessButton:hover {
background-color: rgba(239, 239, 239, 0.638) !important;
color: white;
box-shadow: 2px 2px 5px grey;
}